$tempo1: 200ms;
$tempo2: 400ms;


/****** rajout dess choix de délai d'animation en variable***********/

@keyframes slide {
    0%  {
        transform: scale(0);
}
    25% {
        transform: scale(0.2);
}
    50% {
        transform: scale(0.5);
}
    75% {
        transform:scale(0.7)
}
    100% {
        transform: scale(1);
}
}

