@import "mixin";

.badgerectangle {
    display: flex;
    align-items: center;
    height: 30px;
    padding-left:8px;
    padding-right: 8px;
    position: absolute;
    top:10px;
    right: 10px;
    @include badge;
    @media (min-width: 768px) {
        top:10px;
        right: 10px;
    }
    @media (min-width: 1024px) {
        top:10px;
        right: 10px;
    }
}

.card, .cardspecial, .cardspecial1 {
    background-color: white;
    border-radius: 15px;
}

.gridcards {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 35px 20px 35px 20px;
    background-color: $fondcolor;
    @media (min-width:768px) {
        margin: 50px 0 0px 0;
        padding: 15px 10px 30px 10px; 
    }
    @media (min-width: 1024px){
        margin: 50px 0 0px 0;
        padding: 15px 50px 30px 50px; 
    }
    .titresectionresto {
        display: flex;
        width: 100%;
        @media (min-width:768px ) {
            padding-left: 10px;
            padding-bottom: 30px ;
            padding-top: 20px;
        }
        @media (min-width:1024px) {
            padding-left: 70px;
            padding-bottom: 30px;
            padding-top: 20px;
        }
    }
}

.cardresto {
    margin-top: 15px;
    margin-bottom: 15px;
    position:relative;  
    @media (min-width:768px){
        display: flex;
        flex-direction: column;
        align-items: stretch;
        flex-wrap: nowrap;
        margin-top: 0;
        margin-bottom: 0;
    }  
}

.cardresto .card img  {
    @include card_standard;
    object-position: 50% 85%;
    @media (min-width:768px) {
        object-position: 50% 65%;
        height: 170px;
    }
    @media (min-width:1024px) {
        object-position: 50% 65%;
        height: 120px;
    }
}

.card img   {
    object-fit:cover;
}

.cardresto .cardspecial img  {
  @include card_standard;
    object-position: 50% 90%;
    @media (min-width:768px) {
        object-position: 50% 85%;
        height: 170px;
    }
    @media (min-width: 1024px) {
        object-position: 50% 67%;
        height: 120px;
    }
}

.cardresto .cardspecial1 img  {
   @include card_standard;
    object-position: 50% 60%;
    @media (min-width:768px) {
        object-position: 50% 60%;
        height: 170px;
    }
    @media (min-width: 1024px) {
        object-position: 50% 58%;
        height: 120px;
    }
}

.containercontenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .card-content {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding-left: 5px;
        padding-right: 5px;
        gap: 45px;
        max-width: 100%;
        max-height: 100%;
    }
    .resto-text, .resto-petittexte {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .card-txt {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-bottom: 5px;
    }
    .coeurcard {
        border: none;
        background-color: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
        padding-right: 20px;
        &:focus {
            opacity: 1;
            animation-fill-mode: both;
        }
    }
    .fa-solid.fa-heart {
        font-size: 27px;
        color:transparent;
        position: absolute;
        background-clip: text;
        opacity: 0;
        transition: opacity ease-in-out 300ms;
        animation-fill-mode: both;
        background-image:linear-gradient(#ff79da,#9356dc);   
    }
    .fa-regular.fa-heart {
        color: black;
        font-size: 26px;  
        font-weight: 100;
        opacity: 1;
        transition: opacity ease-in-out 300ms;
    }
}

.restaurantscards {
    @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    gap: 40px;
    }
    @media (min-width: 1024px) {
     padding-left: 70px;
        padding-right: 70px; 
        max-width: 1440px;
    }
    .groupresto {
        @media (min-width: 768px){
            width: 100%;
            flex-direction: row;
            display: flex; 
            gap: 40px; 
        }   
        @media (min-width: 1024px) {
            gap: 80px;   
        }
    }
    .resto {
        @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            width: 50%;    
        }
    }
}

.cardspecial img   {
    @media (min-width: 768px) {
        object-fit:cover;
    }
}

.resto-text {
    @media (min-width: 768px) {
        margin-top: 0;
        margin-bottom: 0;
    }
}