@import "mixin";
@import "animationdem";
@import "colors";

.cardglobal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    top: -50px;
    @media (min-width: 768px) {
        top: -30px
    }
    .gridmenu {
        display:flex;
        flex-direction: column;
        width: 100%;
        .entete {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @media (min-width: 768px) {
                justify-content: center;
                gap: 20px;
            }
            @media (min-width: 1024px) {
                gap: 30px;
            }
            .nomduresto { 
                font-family: "Shrikhand";
                font-style: italic;
                font-weight: 400;
                text-align: left;
                display: flex;
                padding-left: 5px;
                padding-bottom: 0;
                @media (min-width: 768px) {
                    font-size: 24px;
                    margin-top: 30px;
                    margin-bottom: 20px;
                }
            }
            .coeurcard {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                padding-right: 20px;
                @media (min-width: 768px) {
                    padding-top: 10px;
                }
            }
        }
    }
}

.photorestocard img {
    object-fit: cover;
    width: 100%;
    height: 250px;
    object-position: 55% 20%;
    @media (min-width: 768px) {
        object-position: 55% 58%;
        height: 270px;
    }
    @media (min-width: 1440px) {
        width:150%;
        height:300px;
        object-position: 40% 58%;
    }
}

.calque {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    @media (min-width: 768px) {
        margin-left: 80px;
        margin-right: 80px;
    }
    @media (min-width:1024px) {
        margin-left: 130px;
        margin-right: 130px;
    }
    @media (min-width:1440px) {
        margin-left: 250px;
        margin-right: 250px;
    }
    .masque {
        background-color: #f6f6f6;
        position: relative;
    }
}

.formgrid {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
    .titre {
        font-weight: 300;
        font-size: 14px;
        padding-bottom: 5px;
        border-bottom:5px solid $badgecolor;
        width: 45px;
        margin-bottom: 7px;
        @media (min-width: 768px) {
            margin-left: 90px;
        }
        @media (min-width: 1024px) {
            margin-left: 120px;
            width: 40px;
        }
        @media (min-width: 1440px) {
            margin-left: 200px;
        }
    }
    .slideinentrees {
        animation-duration: .7s;
        transform:scale(1);
        animation-name: slide;
        animation-timing-function: linear;
        @media (min-width: 768px) {
            padding-left: 90px;
            padding-right: 90px; 
        }
        @media (min-width: 1024px) {
            padding-left: 120px;
            padding-right: 120px; 
        }
        @media (min-width: 1440px) {
            padding-left: 200px;
            padding-right: 200px;
        }
    }
    .slideinplats {
        animation-duration: .7s;
        transform:scale(1);
        animation-name: slide;
        animation-timing-function: linear;
        animation-delay: $tempo1;
        @media (min-width: 768px) {
            padding-left: 90px;
            padding-right: 90px;
        }
        @media (min-width: 1024px) {
            padding-left: 120px;
            padding-right: 120px; 
        }
        @media (min-width: 1440px) {
            padding-left: 200px;
            padding-right: 200px;
        }
    }
    .slideindesserts {
        animation-duration: .7s;
        transform:scale(1);
        animation-name: slide;
        animation-timing-function: linear;
        animation-delay: $tempo2;
        @media (min-width: 768px) {
            padding-left: 90px;
            padding-right: 90px;
        }
        @media (min-width: 1024px) {
            padding-left: 120px;
            padding-right: 120px; 
        }
        @media (min-width: 1440px) {
            padding-left: 200px;
            padding-right: 200px;
        }
    }
}

.cardmenu {
    display: flex;
    width: 100%;
    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
        border-radius: 12px;
        margin-bottom: 12px;
        box-shadow: 0px 3px 5px rgb(214, 213, 213);
        overflow-x: hidden;
    .card-content {
        display: flex;
        justify-content: space-between;
        align-items:center; 
    }
    .card-txt {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: center;
    }
    .resto-text {
        margin-top:5px;
        margin-bottom: 2px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .resto-petittexte {
        font-size: 13px;
        margin-top: 2px;
        margin-bottom: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        }    
    }
}


