/****** General ***********/
@import "color";
@import "police";
@import "loader";
@import "header";
@import "gridrestos";
@import "footer";
@import "btnfonctionnement";
@import "transitions";
@import "mixin";

* {
    box-sizing: border-box;
    margin: 0;
}

main {
    z-index: 1;
}

.fa-solid.fa-heart {
    font-size: 27px;
    color:transparent;
    position: absolute;
    background-clip: text;
    opacity: 0;
    transition: opacity ease-in-out 300ms;
    animation-fill-mode: both;
    background-image:linear-gradient(#ff79da,#9356dc);   
}

.fa-regular.fa-heart {
    color: black;
    font-size: 26px;  
    font-weight: 100;
    opacity: 1;
    transition: opacity ease-in-out 300ms;
}

.coeurcard:focus {
    opacity: 1;
    animation-fill-mode: both;
}

/****** introduction ******/
.gridintroduction {
    padding: 20px 15px 30px 15px;
    background-color: $fondcolor;
    @media (min-width:1441px) {
        width: 100%;
    }
    .introduction h1 {
        padding-left: 40px;
        padding-right: 40px;
    }
    .restaurationchoix {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 30px;
        @media (min-width:1024px) {
            margin-bottom: 0;
            margin-top: 25px;
        }
    }
    .exploration {
        border-radius: 25px;
        color: white;
        font-weight: 500;
        font-size: 13px;
        border: none;
        padding: 12px 15px;
        box-shadow: $ombre;
        transition:all ease-in-out 300ms ;
        @include degrade;
        &:hover {
            box-shadow: 0px 3px 7px gray ;
            opacity: 0.8;
        }
    }
}

/****** fonctionnement ***********/
.fonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    @media (min-width:768px) {
        flex-direction: column;   
    }
    @media (min-width:1024px) {
        margin: 40px 120px 30px 120px;
    }
    @media (min-width:1441px) {
        max-width: 1440px;
    }
    
    .titrefonctionnement {
        display: flex;
        width: 100%;
        padding-bottom: 15px;
        @media (min-width:1024px) {
            padding-bottom: 20px;
        }
    }
}




@media (min-width:1441px) {
* {
    margin: 0;
    padding: 0;
} 

html {
    display: flex;
}

body {
    width:100%;    
}

.positionnement {
    max-width: 100%;
}

}