@mixin card_standard {
    width: 100%;
    object-fit: cover;
    object-position: 50% 55%;
    height: 140px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 2px;
    margin-bottom: 10px;
}

@mixin degrade {
    background: linear-gradient($pinkcolor,$purplecolor);
}

@mixin badge {
    background-color: $badgecolor;
    color: $fontbadgecolor;
}

@mixin btn {
    border: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin globalslide {
    animation-duration: .7s;
    transform:scale(1);
    animation-name: slide;
    animation-timing-function: linear;
        @media (min-width: 768px) {
            padding-left: 90px;
            padding-right: 90px; 
        }
        @media (min-width: 1024px) {
            padding-left: 120px;
            padding-right: 120px; 
        }
        @media (min-width: 1440px) {
            padding-left: 200px;
            padding-right: 200px;
        }
    }