/***** variables****/
@import "animationdem";
@import "headerrestos";
@import "colors";
@import "fonts";
@import "gridmenurestos";
@import "mixin";
@import "footer";
@import "transitions";


/****** General ***********/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    @media (min-width:1440px) {
        width: 100%;
    }
}

.card:active .casecachee {
    transform: translateX(-53px) ; 
    opacity: 1;  
}

.card:active .prix {
    transform: translateX(-10px);     
}

.card:active .card-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.img {
    object-fit: cover;
    max-width: 100%;
}

.card img {
    object-fit:contain;
}

.fa-regular.fa-heart {
    color:black;
    font-size: 18px; 
    opacity: 1;
    font-weight: 100; 
    transition: all ease-in-out 300ms;  
    z-index: 1;
    @media (min-width: 1024px) {
        font-size: 18px;
        opacity: 0.8;
    }
}

.fa-regular.fa-heart:active {
    color: transparent;
    opacity: 0; 
}

.fa-solid.fa-heart {
    font-size: 18px;
    position: absolute;
    color: transparent;
    background-image: linear-gradient($pinkcolor,$purplecolor);
    opacity: 0;
    background-clip: text;
    transition: all ease-in-out 300ms;
    z-index: 2;
    @media (min-width: 1024px) {
        font-size: 18px;
    }
}

.fa-solid.fa-heart:active {
    opacity: 1;
    font-weight: 900; 
}

.commande {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    @media (min-width: 1024px) {
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .actioncommande {
        height: 40px;
        border-radius: 25px;
        color: white;
        font-weight: 400;
        font-size: 14px;
        border: none;
        padding: 10px 40px 10px 40px;
        box-shadow: 0px 2px 5px gray;
        background: linear-gradient($pinkcolor,$purplecolor);
        flex-grow: 1;
        transition:all ease-in-out 300ms;
        &:hover{
            box-shadow: 0px 3px 7px gray ;
            opacity: 0.8; 
        }
    }
}

/****** menu***********/
.casemobile {
    display: flex;
    align-items: center;
    .casecachee {
        display: flex;
        position: relative;
        background-color:$badgecolor;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        padding: 15px 15px 15px 15px;
        right:-55px;
        transform: translateX(0);
        transition: transform  150ms ease-in-out;
        @media (min-width: 768px) {
            padding: 18px 18px 18px 18px;
        }
        @media (min-width:1024px) {
            right: -60px;
            padding: 20px 20px 20px 20px;
            transform: translateX(0);
            transition: transform 150ms linear ;    
            opacity: 1;
        }
    }
    .prix {
        display: flex;
        font-size: 13px;
        padding-top: 10px;
        transform: translateX(40px);
        transition: transform 150ms ease-in-out; 
        @media (min-width: 768px) {
            transform: translateX(45px);
        }
        @media (min-width: 1024px) {
            transform: translateX(45px);
            transition: transform 150ms linear;
        }
        .symboleeuro {
            color: black;
            font-size: 13px;
            font-weight: 500;
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 10px;
        }
    }
}

.fa-circle-check {
    color: $badgecolor;
    font-size: 18px;
    background-color: white;
}

.casecachee i {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: 1px solid $badgecolor;
}


/******* tablette *******/
@media (min-width: 768px) {
.fa-heart {
    font-size: 28px;
}

.titre.h2{
    width: 48px;
    font-weight: 300;
}

.card:hover .casecachee{
    transform: translateX(-55px); 
    opacity: 1;  
}

.card:hover .prix {
    transform: translateX(-15px);
}
}



/******* desktop *******/
@media (min-width: 1024px) {
.card:hover .casecachee{
    transform: translateX(-60px);  
    opacity: 1;  
}

.card:hover .prix {
    transform: translateX(-15px);
}

.fa-solid.fa-heart:hover {
    opacity: 1;
    font-weight: 900;
    background-image: linear-gradient($pinkcolor,$purplecolor);
}

.fa-regular.fa-heart:hover {
    opacity: 0;   
}
}



/******* large desktop *******/
@media (min-width:1440px) {
html {
    display: flex;
}

main {
    margin: auto;
}

.gridintroduction {
    width: 100%;
}

.fonctionnement {
    max-width: 1440px;
}
}
