/***** variables****/
@import "animationdem";
@import "headerrestos";
@import "gridmenurestos";
@import "mixin";
@import "footer";
@import "transitions";

$pinkcolor: #ff79da;
$purplecolor: #9356dc;
$badgecolor: #99e2d0;
$fontbadgecolor: green;

/****** General ***********/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    @media (min-width:1440px) {
        width: 100%;
    }
}

a {
    color: inherit;
    text-decoration: none;
    font-family: "roboto";  
}

h1{
    text-align: center;
    font-size: 24px;
}

h2 {
    font-family: "roboto";
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
}

h3 {
    font-family: "roboto";
    font-size: 14px;
    font-weight: 500;
    color: black;
}

h4 {
    font-family: "roboto";
    font-size: 13px;
    color:black;
    font-weight: 300;
}

h5 {
    text-align: center;
    font-weight: 50;
    font-size: 18px;
    color: rgb(170, 169, 169);
}

h6 {
    font-family: "roboto";
    font-size: 14px;
    font-weight: 100;
}

p {
    font-family: "roboto";
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 12px;
    box-shadow: 0px 2px 5px gray;
    overflow-x: hidden;
}

.card:active .casecachee {
    transform: translateX(-53px) ; 
    opacity: 1;  
}

.card:active .prix {
    transform: translateX(-10px);     
}

.card:active .card-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.img {
    object-fit: cover;
    max-width: 100%;
}

.card img {
    object-fit:contain;
}

.coeurcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 25px;
    @media (min-width: 768px) {
        padding-top: 10px;
    }
}

.fa-regular.fa-heart {
    color:black;
    font-size: 18px; 
    opacity: 1;
    font-weight: 100; 
    transition: all ease-in-out 300ms;   
    z-index: 1;
}

.fa-regular.fa-heart:active {
    color: transparent;
    opacity: 0;   
}

.fa-solid.fa-heart {
    font-size: 18px;
    position: absolute;
    color: transparent;
    background-image: linear-gradient($pinkcolor,$purplecolor);
    opacity: 0;
    background-clip: text;
    transition: all ease-in-out 300ms;
    z-index: 2;
}

.fa-solid.fa-heart:active {
    opacity: 1;
    font-weight: 900;  
}

.commande {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    @media (min-width: 1024px) {
        margin-top: 15px;
        margin-bottom: 10px;
    }
}

.actioncommande {
    height: 40px;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    border: none;
    padding: 10px 40px 10px 40px;
    box-shadow: 0px 2px 5px gray;
    background: linear-gradient($pinkcolor,$purplecolor);
    flex-grow: 1;
    transition:all ease-in-out 300ms;
    &:hover{
        box-shadow: 0px 3px 7px gray ;
        opacity: 0.8; 
    }
}

/****** menu***********/
.casemobile {
    display: flex;
    align-items: center;
}

.casecachee {
    display: flex;
    position: relative;
    background-color:$badgecolor;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 15px 15px 15px 15px;
    right:-55px;
    transform: translateX(0);
    transition: transform  300ms ease-in-out;
    @media (min-width: 768px) {
        padding: 18px 18px 18px 18px;
    }
    @media (min-width:1024px) {
        right: -60px;
        padding: 20px 20px 20px 20px;
        transform: translateX(0);
        transition: transform 300ms linear ;    
        opacity: 1;
    }
}

.prix {
    display: flex;
    font-size: 13px;
    padding-top: 10px;
    transform: translateX(40px);
    transition: transform 300ms ease-in-out; 
    @media (min-width: 768px) {
        transform: translateX(45px);
    }
    @media (min-width: 1024px) {
        transform: translateX(45px);
        transition: transform 300ms linear;
    }
}

.fa-circle-check {
    color: $badgecolor;
    font-size: 18px;
    background-color: white;
}

.casecachee i {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: 1px solid $badgecolor;
}


/******* tablette *******/
@media (min-width: 768px) {
.fa-heart {
    font-size: 28px;
}

.titre.h2{
    width: 48px;
    font-weight: 300;
}

.card:hover .casecachee{
    transform: translateX(-55px); 
    opacity: 1;  
}

.card:hover .prix {
    transform: translateX(-15px);
}
}



/******* desktop *******/
@media (min-width: 1024px) {
.card:hover .casecachee{
    transform: translateX(-60px);  
    opacity: 1;  
}

.card:hover .prix {
    transform: translateX(-15px);
}

.fa-solid.fa-heart:hover {
    opacity: 1;
    font-weight: 900;
    background-image: linear-gradient($pinkcolor,$purplecolor);
}

.fa-regular.fa-heart:hover {
    opacity: 0;   
}

/***** restaurants ****/
.fa-regular.fa-heart {
    font-size: 18px;
    opacity: 0.8;
}

.fa-solid.fa-heart {
    font-size: 18px;
}
}



/******* large desktop *******/
@media (min-width:1440px) {
html {
    display: flex;
}

main {
    max-width: 1420px;
    margin: auto;
}

.positionnement {
    max-width: 100%;
}

.gridintroduction {
    width: 100%;
}

.fonctionnement {
    max-width: 1440px;
}
}
