.fa-regular.fa-heart:active {
    opacity: 0;
}

.fa-solid.fa-heart:active {
    font-weight: 900;
    opacity: 1;
}

.card:active .casecachee {
    transform: translateX(-53px) ; 
    opacity: 1;  
}

.card:active .prix {
    transform: translateX(-10px);     
}

.card:active .card-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


@media (min-width: 768px) {
    .card:hover .casecachee{
        transform: translateX(-55px); 
        opacity: 1;  
    }
    
    .card:hover .prix {
        transform: translateX(-15px);
    }
}


@media (min-width: 1024px) {
.fa-regular.fa-heart:hover {
    opacity: 0;
}

.fa-solid.fa-heart:hover {
    font-weight: 900;
    opacity: 1;
}

.card:hover .casecachee{
    transform: translateX(-60px);    
}
}